.max-container1 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.max-container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.grid-container {
    width: 100%;
    display: flex;
}

.sidebar-container {
    margin-left: 10px;
    width: 25%;
    /* border-right: solid 1px black; */
    box-shadow: 5px 0px 5px #999999;
}

.main-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}

.card-container {
    width: 30%;
    min-height: 35vh;
    border:1px black solid;
    border-radius: 7px;
    padding: 5px;
    margin:1%;
}

.card-income-container {
    min-height: 30vh;
    border:1px black solid;
    border-radius: 7px;
    padding: 5px;
    margin:1%;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
}

.paid {
    background-color: #74a077;
}

.not-paid {
    background-color: #ee3838;
}

.income-columns {
    display: flex;
}

.income-rows {
    padding-left: 10px;
}

.main-button {
    background-color: #999999;
    border-width: 0px;
    border-radius: 1000px;
    padding: 2px 15px;
    font-family: Arial;
}

.basic-input {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 120px;
    text-align: center;
    margin-left: 3px;
}

.generals-container {
    display: flex;
}
/* 
.button-separator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 100px;
} */

.report-container {
    margin: 0px 20px;
}

.report-subcontainer {
    display: flex;
}

.report-selector {
    margin-left: 30px;
    margin-bottom: 10px;
    padding: 7px;
}
.report-label {
    margin-left: 30px;
    margin-bottom: 3px;
}

.report-table {
    max-width: 75%;
}

.navbar-container {
    border-bottom: solid 1px black;
    box-shadow: 0px 5px 5px #999999;
    margin-bottom: 5px;
}

.break {
    width: 100%;
    border-bottom: solid 1px black;
    margin-bottom: 5px;
}

.icon-button {
    cursor: pointer;
}